body{
    background-size:cover;
}
.bg{
  background-image:url("http://www.powerpointhintergrund.com/uploads/2017/07/full-size-1754--1240--published-on-dark-blue-background-jpg-2.jpeg");
  text-align: center;
}

h1{
  position: relative;
  color: white;
  display: inline-block;
  border: 2px solid #fff;
  top: 50px;
  padding: 10px;
  margin-bottom:40px;
  border-radius: 20px;
}
h3{
  top: 50px;
  color:#fffeee;
  padding-top: 20px;
  border-radius: 20px;
}

p{
  color:#fffeee;
  font-style: italic;
}
input{
  background-color:#f9efc7;
  width: 200px;
  font-size: 20px;
  border: 2px solid #fff;
  top: 50px;
  padding: 10px;
  border-radius: 15px;
  text-align:center;
  font-size:18px;
}
.button{
  background-color: #778897;
  width: 150px;
  font-size: 20px;
  color: #skyblue;
  border: 1 px solid #1d3c6a;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

.button:hover{
  cursor: pointer;
  background-color:#57636e;
}

.button:focus{
  outline: 0;
}

input:focus{
  outline: 0;
}